<ion-header>
    
  <ion-navbar>
    <ion-title>Naresh weds Bharti</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

<ion-grid class="container">

  <ion-row class="choose">
    <ion-col col-12 class="chooseHeadingFlex">
      Blessing Wall
    </ion-col>
  </ion-row> 

  <ion-fab (click)="writeBlessingNav()" bottom right class="addBtn">
    <button ion-fab><ion-icon name="md-create"></ion-icon></button>
  </ion-fab>

  <ion-row class="blessingWall">

    <ion-col col-12 class="noPadding">

      <div class="timeline"></div>

      <div class="blessingCardsContainer">

      <div *ngIf="blessings">

      <!-- Blessing Card Start -->
      <div class="msgCard" *ngFor="let msg of blessings">
        <div class="msgIcon">
          <ion-icon name="md-text"></ion-icon>
        </div>
        <ion-card>
          <ion-card-header>
            <h2>{{msg.name}}</h2>
            <p><ion-icon name="time"></ion-icon> {{msg.time | date:'fullDate'}}  {{msg.time | date:'shortTime'}}</p>
          </ion-card-header>
          <ion-card-content>
            {{msg.message}}
          </ion-card-content>
        </ion-card>
      </div>
      <!-- Blessing Card End -->

      </div>

      </div>

    </ion-col>
  </ion-row>

</ion-grid>

</ion-content>