page-home {
.container{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0px;
}
.heading{
    flex: 1;
}
.headingText{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    letter-spacing: 3px;
    font-family: cursive;
}
.images{
    flex: 2;
}
.brideFlex {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
}
.groomFlex {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
}
.bride{
    height: 150px;
    width: 150px;
    border-radius: 110px;
}
.groom{
    height: 150px;
    width: 150px;
    border-radius: 110px;
}
.text {
    flex: 3;
}
.text-center{
    text-align: center;
    font-size: 23px;
    font-family: cursive;
}
.welcome {
    flex: 1;
    font-family: cursive;
}
.btnflex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.button {
    color: #fff;
    border: 2px solid #000;
    background-color: #ff0000;
    width: 200px;
}
.heartFlex{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
}
