page-bharti-khimnani {
.container {
    display: flex;
    height: 100%;
    width: 100%;
    font-family: cursive;
    padding: 0px;
    background-color: #F3DF62;
    color: #DB4437;
}
.choose {
    flex: 1;
    background-color: #AC634C;
    color: #fff;
}
.chooseHeadingFlex {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 23px;
}
.bridePic {
    flex: 3;
}
.iconFlex {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.iconImg {
    height: 90%;
    width: 45%;
    border-radius: 100%;
    background-color: #000;
}
.brideOptions {
    flex: 5;
}
.optionsFlex {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    overflow-y: scroll;
}
.optionItem {
    color: #fff;
    border: 3px solid #B78513;
    font-size: 2rem;
    line-height: 80px;
    text-align: center;
    width: 70%;
    height: 80px;
    border-radius: 25px;
    margin-top: 10px;
    background-color: transparent;
}
}
