page-home{
.container {
    background-image: url('../assets/img/home-bg.png') !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.groom {
    background-image: url('../assets/img/groom.png') !important;
    background-size: cover !important;
}
.bride {
    background-image: url('../assets/img/bride.png') !important;
    background-size: cover !important;
}
}

page-choose-side {
.brideImg {
    background-image: url('/assets/img/bride.png') !important;
    background-size: cover !important;
}
.groomImg {
    background-image: url('/assets/img/groom.png') !important;
    background-size: cover !important;
}
}

page-bharti-khimnani {
.iconImg {
    background-image: url('../assets/img/bride.png') !important;
    background-size: cover !important;
}
}

page-naresh-keswani {
.iconImg {
    background-image: url('../assets/img/groom.png') !important;
    background-size: cover !important;
}    
}

.toolbar-background {
    background-color: #520575;
}

.toolbar-title {
    color: #fff;
}

.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    color: #fff;
}

.button {
    text-transform: none;
}